/*TOOLTIP STYLING*/
/*step one*/
.step-one-div-lg {
    /*border: 1px solid red;*/
    height: 20px !important;
    position: absolute !important;
    top: 100%;
    margin: 0 auto;
}
.step-one-lg {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 42%;
}

.step-one-div-sm {
    /*border: 1px solid blue; */
    height: 20px !important;
    position: absolute !important;
    top: 100%;
    margin: 0 auto;
}
.step-one-sm {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 42%;
}





/*step two*/
.step-two-div-lg {
    border: 1px solid red;
    height: 20px !important;
    position: absolute !important;
    top: 93%;
    margin: 0 auto;
}
.step-two-lg {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 38%;
}

.step-two-div-sm {
    border: 1px solid blue; 
    height: 20px !important;
    position: absolute !important;
    top: 93%;
    margin: 0 auto;
}
.step-two-sm {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 42%;
}










