body { 
  font-size: 14px;
  background-color: #fafeff;
}

#cy {
  height: 50%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

iframe {
  width: 1200px;
  height: 800px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

h1 {
  text-align: center;
  font-family: 'Monserrat', sans-serif;
  color: #5092a2;
}

.text {
  max-width: 550px;
  margin: 0 auto;
  display: block;
}

p {
  font-family: 'Droid Serif', serif;
}

