/*TOOLTIP STYLING*/
/*step one*/
.step-one-div-lg {
    /*border: 1px solid red;*/
    height: 20px !important;
    position: absolute !important;
    top: 100%;
    margin: 0 auto;
}
.step-one-lg {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 42%;
}

.step-one-div-sm {
    /*border: 1px solid blue; */
    height: 20px !important;
    position: absolute !important;
    top: 100%;
    margin: 0 auto;
}
.step-one-sm {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 42%;
}





/*step two*/
.step-two-div-lg {
    height: 20px !important;
    position: absolute !important;
    top: 93%;
    margin: 0 auto;
}
.step-two-lg {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 38%;
}

.step-two-div-sm {
    height: 20px !important;
    position: absolute !important;
    top: 96%;
    margin: 0 auto;
}
.step-two-sm {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 38%;
}




/*step three*/
.step-three-div-lg {
    height: 20px !important;
    position: absolute !important;
    top: 61%;
    margin: 0 auto;
}
.step-three-lg {
    width: 15px;
    height: auto !important;
    position: absolute;
}

.step-three-div-sm {
    height: 20px !important;
    position: absolute !important;
    top: 61%;
    margin: 0 auto;
}
.step-three-sm {
    width: 15px;
    height: auto !important;
    position: absolute;
}




/*step four*/
.step-four-div-lg {
    height: 20px !important;
    position: absolute !important;
    top: 96%;
    margin: 0 auto;
}
.step-four-lg {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 45%;
}

.step-four-div-sm {
    height: 20px !important;
    position: absolute !important;
    top: 96%;
    margin: 0 auto;
}
.step-four-sm {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 45%;
}





/*step five*/
.step-five-div-lg {
    height: 20px !important;
    position: absolute !important;
    top: 84%;
    margin: 0 auto;
}
.step-five-lg {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 44%;
}

.step-five-div-sm {
    height: 20px !important;
    position: absolute !important;
    top: 86%;
    margin: 0 auto;
}
.step-five-sm {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 44%;
}





/*step six*/
.step-six-div-lg {
    height: 20px !important;
    position: absolute !important;
    top: 74%;
    margin: 0 auto;
}
.step-six-lg {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 53%;
}

.step-six-div-sm {
    height: 20px !important;
    position: absolute !important;
    top: 76%;
    margin: 0 auto;
}
.step-six-sm {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 51%;
}





/*step seven*/
.step-seven-div-lg {
    height: 20px !important;
    position: absolute !important;
    top: 144%;
    margin: 0 auto;
}
.step-seven-lg {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 33%;
}

.step-seven-div-sm {
    height: 20px !important;
    position: absolute !important;
    top: 130%;
    margin: 0 auto;
}
.step-seven-sm {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 31%;
}





/*step eight*/
.step-eight-div-lg {
    height: 20px !important;
    position: absolute !important;
    top: 144%;
    margin: 0 auto;
}
.step-eight-lg {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 10%;
}

.step-eight-div-sm {
    height: 20px !important;
    position: absolute !important;
    top: 130%;
    margin: 0 auto;
}
.step-eight-sm {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 8%;
}





/*step nine*/
.step-nine-div-lg {
    height: 20px !important;
    position: absolute !important;
    top: 120%;
    margin: 0 auto;
}
.step-nine-lg {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 58%;
}

.step-nine-div-sm {
    height: 20px !important;
    position: absolute !important;
    top: 120%;
    margin: 0 auto;
}
.step-nine-sm {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 58%;
}








/*step ten*/
.step-ten-div-lg {
    height: 20px !important;
    position: absolute !important;
    top: 89%;
    margin: 0 auto;
}
.step-ten-lg {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 52%;
}

.step-ten-div-sm {
    height: 20px !important;
    position: absolute !important;
    top: 91%;
    margin: 0 auto;
}
.step-ten-sm {
    width: 15px;
    height: auto !important;
    position: absolute;
    margin-left: 50%;
}
